<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildWindowLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BuildWindowLauncher.Properties.Settings>
            <setting name="Project" serializeAs="String">
                <value>&amp;Smartfon</value>
            </setting>
            <setting name="EnlistmentRoots" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>e:\WM7CoreOS</string>
                        <string>e:\04</string>
                        <string>e:\OSPlatform</string>
                        <string>e:\Seven</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastEnlistmentRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="LastColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Platform" serializeAs="String">
                <value>CE&amp;PC</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>&amp;Release</value>
            </setting>
        </BuildWindowLauncher.Properties.Settings>
    </userSettings>
</configuration>